<% if spree_current_user %>
  <li><%= link_to "حسابي", spree.account_path %></li>
  <li><%= link_to "تسجيل الخروج", spree.logout_path %></li>
<% else %>
  <li id="link-to-login"><%= link_to "تسجيل الدخول", spree.login_path %></li>
<% end %>
